.swiper {
  height: 100%;
  --swiper-navigation-color: var(--chakra-colors-Highlight);
  --swiper-navigation-size: 2rem;
  --swiper-pagination-color: var(--chakra-colors-Highlight);
  --swiper-pagination-bullet-size: 1rem;
  --swiper-pagination-bullet-inactive-color: #999;
  --swiper-pagination-bullet-inactive-opacity: 1;
}


.slide-content {
  transition: ease-out .25s;
}
.slide-content:hover {
  transform: scale(1.1);
  transition: ease .35s;
}